<ol>
    <li>Find the playlist you would like to Partify</li>
    <li>Select "Edit Further" if you would like to add or remove songs from your playlist</li>
    <li>Select how you want to sort your playlist:
    <ul>
        <li>Danceability - If you want your playlist to group together songs you can dance to</li>
        <li>BPM - If you want your playlist to group songs based on their pace</li>
        <li>Energy - If you want your playlist to group together loud and fast songs</li>
        <li>Camelot Key - If you want your playlist to transition from one key to its neighbor</li>
    </ul>
    </li>
</ol>