/* You can add global styles to this file, and also import other style files */

* {
    background-color: #303030;
    color: white;
    font-family: "Monaco", monospace;
}

app-home{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* app-home .playlists{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
} */

app-navbar{
    width: 100%;
    height: 150px;
    background-color: #7cc576;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    fill: #7cc576;
    margin-bottom: 20px;
}

app-navbar h1{
    color: white;
    background-color: #7cc576;
}

app-playlist-cover{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
}

app-playlist-cover .playlists{
    /* text-align: center; */
    margin: 10px;
}

app-playlist-cover img{
    width: 100px;
    height: 100px;
    display: inline-block;
}
