<head>
    <title>Edit Further</title>
</head>
<body>
    <p>Playlist Name</p>
    <div class="edit-further" *ngFor="let s of songs">
        <div class = songs>
            <ul>
                <li><span (click)="removeSong(s.track.id)" class="close">x</span>{{ s.track.name }}</li>
            </ul>
        </div>
    </div>
    <p>Recommended Songs</p>
    <div class="edit-further" *ngFor="let r of recs">
        <div class = recs>
            <ul>
                <li><span (click)="addSong(r.id)" class="add">+</span>{{ r.name }}</li>
            </ul>
        </div>
    </div>
</body>