<head>
    <title>Edit Further</title>
    <script>
        var closebtns = document.getElementsByClassName("close");
        var i;

        for (i = 0; i < closebtns.length; i++) {
            closebtns[i].addEventListener("click", function() {
                this.parentElement.style.display = 'none';
                });
            }
    </script>
</head>
<body>
    <p>Playlist Name</p>
    <ul>
        <li><span class="close">x</span>Song Title 1 by Artist</li>
        <li><span class="close">x</span>Song Title 2 by Artist</li>
        <li><span class="close">x</span>Song Title 3 by Artist</li>
        <li><span class="close">x</span>Song Title 4 by Artist</li>
        <li><span class="close">x</span>Song Title 5 by Artist</li>
        <li><span class="close">x</span>Song Title 6 by Artist</li>
        <li><span class="close">x</span>Song Title 7 by Artist</li>
        <li><span class="close">x</span>Song Title 8 by Artist</li>
        <li><span class="close">x</span>Song Title 9 by Artist</li>
    </ul>
    <p>Recommended Songs</p>
    <ul>
        <li><span class="add">+</span>Song Title 10 by Artist</li>
        <li><span class="add">+</span>Song Title 11 by Artist</li>
        <li><span class="add">+</span>Song Title 12 by Artist</li>
        <li><span class="add">+</span>Song Title 13 by Artist</li>
        <li><span class="add">+</span>Song Title 14 by Artist</li>
        <li><span class="add">+</span>Song Title 15 by Artist</li>
    </ul>
</body>