<head>
    <title>Edit Further</title>
    <script>
        var closebtns = document.getElementsByClassName("close");
        var i;

        for (i = 0; i < closebtns.length; i++) {
            closebtns[i].addEventListener("click", function() {
                this.parentElement.style.display = 'none';
                });
            }
    </script>
</head>
<body>
    <p>Playlist Name</p>
    <ul>
        <li><span class="close">x</span>Song Title by Artist</li>
        <li><span class="close">x</span>Song Title by Artist</li>
        <li><span class="close">x</span>Song Title by Artist</li>
        <li><span class="close">x</span>Song Title by Artist</li>
        <li><span class="close">x</span>Song Title by Artist</li>
        <li><span class="close">x</span>Song Title by Artist</li>
        <li><span class="close">x</span>Song Title by Artist</li>
        <li><span class="close">x</span>Song Title by Artist</li>
        <li><span class="close">x</span>Song Title by Artist</li>
    </ul>
    <p>Recommended Songs</p>
    <ul>
        <li><span class="add">+</span>Song Title by Artist</li>
        <li><span class="add">+</span>Song Title by Artist</li>
        <li><span class="add">+</span>Song Title by Artist</li>
        <li><span class="add">+</span>Song Title by Artist</li>
        <li><span class="add">+</span>Song Title by Artist</li>
        <li><span class="add">+</span>Song Title by Artist</li>
    </ul>
</body>