<div class="playlist-covers" *ngFor="let p of playlists">
    <div class = playlists>
        <img src="../../assets/images/playlistCover.PNG">
        <p>{{ p.name }}</p>
        <select (change)="onChange($any($event.target).value)">
            <option value="null" disabled selected hidden>Partify</option>
            <!-- <option>Danceability</option>
            <option>BPM</option>
            <option>Camelot</option> -->
            <option *ngFor='let m of menuOption'>{{m.name}}</option>
        </select>
    </div>
</div>