#login , #loggedin{
  margin: 0px;
  height: 100%;
  width: 100%;
  top: 100%;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}
body{
  background-image: linear-gradient(#324f4f, #121212);
  display: flex;
  justify-content: center;
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}
#Title {
  color: white;
  text-align: center;
  font-family: "Monaco", monospace;
  font-size: 8vw;
  font-weight: bold;
  margin: 0px;
}
#Description {
  color: white;
  text-align: center;
  font-family: "Monaco", monospace;
  font-size: 2vw;
}
.btn {
  background-color: #7cc576;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: "Monaco", monospace;
  font-size: 2vw;
  display: inline-block;
  padding: 5px;
  border-radius: 8px;
}
.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn-center {
  display: flex;
  justify-content: center;
}
